*
  box-sizing: border-box
  margin: 0
  padding: 0

body
  background: #efefef

.portvis,
.rackvis

  h1
    margin: 1rem 0
    text-transform: uppercase
    font-family: sans-serif

  button
    border: 0
    // border-radius: 5px

    background: #ffec1f
    padding: 1em 1em

    text-transform: uppercase
    font-family: sans-serif
    font-size: x-small

    outline: none

  button:hover
    background: #ffc800
    cursor: pointer

  svg
    display: block
    overflow: hidden

.root
  display: flex
  flex-direction: column
  min-height: 100vh

.rackbit
  display: flex
  flex-direction: row
  flex-grow: 2

  .editor
    display: flex
    flex-direction: column

    width: 50%
    max-height: 100vh

    .predef
      display: flex
      flex-direction: row
      gap: 1rem

    textarea
      flex-grow: 2

    button
      padding: 0.5rem
      border: 0
      border-radius: 5px

      background: #33C3F0
      color: #fff

      font-weight: bold
      font-family: sans-serif
      text-transform: uppercase
      letter-spacing: 2px


    button:hover
      background: #776b98

    > * + *
      margin-top: 1rem

    label
      display: flex
      flex-direction: column
      font-family: sans-serif

      input
        margin-top: 0.5rem
        padding: 0.5rem


  .editor,
  .rackvis
    padding: 1rem
